@font-face {
  font-family: "Linotte";
  src: url("../fonts/LinotteRegular.ttf");
}

.bookingMovie {
  background-image: linear-gradient(
      to bottom,
      rgba(43, 43, 44, 0.637),
      rgba(20, 9, 1, 0.719)
    ),
    url("../img/bg-2.jpg");
  background-size: cover;
  background-position: bottom;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "Linotte";
  color: white;
}

.bookingMovie__container {
  width: 80% !important;
  margin: 0 auto;
}

.header {
  text-shadow: 4px -3px 0px rgb(2, 30, 100);
  font-size: 40px;
  text-align: center;
}

.sub-title {
  font-size: 30px;
  text-align: center;
}

.seatmap,
.seatinfo {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 5px;
}

.screen {
  border: 2px solid white;
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 50px;
}

.ghe {
  background: white;
  border: 3px solid orange;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  color: orange;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  line-height: 35px;
  vertical-align: middle;
}

.gheDuocChon {
  display: inline-block;
  border: 3px solid rgb(235, 97, 4);
  background: orange;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 4px solid rgb(41, 134, 4);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}

.rowNumber {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-bottom: 3%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.my-custom-scrollbar {
  position: relative;
  width: 94%;
  margin: 0 auto;
  height: 450px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.table-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.table td,
.table th {
  border-color: rgba(255, 255, 255, 0.6) !important;
}

.btnDelete {
  padding: 3px 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(221, 39, 39);
  color: white;
}
